<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nbd">

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/nbd_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.main.ui.MainActivity"
            android:configChanges="uiMode"/>
        <activity
            android:name=".view.login.ui.LoginActivity"
            android:configChanges="uiMode"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity
            android:name=".view.login.ui.RegisterActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".view.load.ui.LoadActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.settings.ui.SelfSettingsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.search.ui.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.feedback.ui.FeedBackActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.userinfo.ui.MainActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>